*{
    border: solid hsl(257, 40%, 49%) 0px;
    max-width: 375px;
    max-height: 812px;
}

body{
    background-color: hsl(257, 40%, 49%);
    background-image: url("images/bg-mobile.svg");
    background-repeat: no-repeat;
    margin: auto;
    max-width: 375px;
}

.logo{
    transform: scale(0.5);
    position: relative;
    left: -10%;
    top: 8px;
}

.mockup{
    transform: scale(0.8);
    position: relative;
    top: 27px;
}


.main-text{
    text-align: center;
    position: relative;
    bottom: -40px;
}

.main-text h1{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 25px;
    max-width: 329px;
    margin-left: auto;
    margin-right: auto;
}

.main-text p{
    font-family: 'Poppins', sans-serif;
    color: white;
    max-width: 329px;
    margin-left: auto;
    margin-right: auto;
}

.main-text button{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    border: solid white;
    border-radius: 25px;
    color: hsl(257, 40%, 49%);
    padding: 11px 80px;
    text-align: center;
    box-shadow: 0px 2px 11px 0px darkslateblue;
}

.footer{
    display: grid;
    position: relative;
    max-width: 35%;
    top: 6em;
    grid-template-columns: 1fr 1fr 1fr;
    margin-left: auto;
    margin-right: auto;
    text-align:center;
}

.facebook{
  /*transform: scale(0.035);*/
  max-width: 20px;
  max-height: 20px;
  margin-left: auto;
  margin-right: auto;
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(100deg) brightness(107%) contrast(101%);
}

.twitter{
  /*transform: scale(0.035);*/
  margin-left: auto;
  margin-right: auto;
  max-width: 20px;
  max-height: 20px;
  
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(100deg) brightness(107%) contrast(101%);
}

.instagram{
  /*transform: scale(0.035);*/
  margin-left: auto;
  margin-right: auto;
  max-width: 20px;
  max-height: 20px;
  
  filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(100deg) brightness(107%) contrast(101%);
  
}
